<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="APP" source="info.app.name" defaultValue="NOT_SET"/>
    <springProperty name="ENV" source="info.env.name" defaultValue="NOT_SET"/>
    <springProperty scope="context" name="SERVERS" source="log.kafka.servers"/>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"app":"${APP}","env":"${ENV}"}
            </customFields>
        </encoder>
        <topic>turing-srv-logs</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.HostNameKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers=${SERVERS}</producerConfig>
        <producerConfig>acks=0</producerConfig>
        <producerConfig>linger.ms=1000</producerConfig>
    </appender>
    <logger name="com.alibaba" level="WARN" additivity="false">
        <!--<appender-ref ref="KAFKA"/>-->
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.netflix.discovery" level="WARN" additivity="false">
        <!--<appender-ref ref="KAFKA"/>-->
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="INFO">
        <springProfile name="local">
            <appender-ref ref="CONSOLE"/>
            <!--<appender-ref ref="KAFKA"/>-->
        </springProfile>

        <springProfile name="dev">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="KAFKA"/>-->
        </springProfile>

        <springProfile name="prd">
            <!--<appender-ref ref="KAFKA"/>-->
        </springProfile>
    </root>
</configuration>
